<div class="modal-header">
    <h3 class="modal-title">Are You Sure ?</h3>
</div>
<div ng-hide="sending" ng-show="users.length > 0" class="modal-body">
    <p>You want to send SMS to "{{usernames}}" with "{{msg.text}}"</p>
</div>
<div ng-hide="users.length > 0" class="modal-body">
    <p>Please select a user to send SMS</p>
</div>
<div class="form-wrapper" ng-show="sending">
	<div class="text-center m-b m-t">
	  <p>SMS sending... Please Wait...</p>
	  <i class="fa fa-circle-o-notch fa-spin text-lg text-info-lt"></i>
	</div>
</div>
<div class="modal-footer">
<div ng-hide="users.length > 0">
    <button class="btn btn-info" ng-click="cancel()">Ok</button>
</div>
<div ng-show="users.length > 0">
    <button class="btn btn-default" ng-click="cancel()">No</button>
    <button class="btn btn-info" ng-click="ok()">Yes</button>
</div>                
</div>
