		<div class="col-xs-12 add-data">
          	<div class="card row">
	        <div class="panel-heading blue" ng-hide="import">
		        <span class="label pull-right m-r-md blue">{{step}}/3</span>
		        <span class="label pull-right m-r-md amber">
		        	<a ng-hide="list" ng-click="list = !list">View Contacts</a>
		        	<a ng-show="list" ng-click="list = !list">Hide Contacts</a>
		        </span>
		        <span ng-show="step == 1" class="label pull-right m-r-md amber">
		        	<a ng-hide="newgroup" ng-click="contacttype('new')">New group</a>
		        	<a ng-show="newgroup" ng-click="contacttype('existing')">Groups</a>
		        </span>
	            <span class="h4" ng-if="teacher.type">{{teacher.type}}</span>
	            <span class="h4" ng-if="teacher.name"> / {{teacher.name}}</span>
	            <span class="h4" ng-if="teacher.phone"> / {{teacher.phone}}</span>
	            <span class="h4" ng-repeat="(sk, sv) in teacher.subjects" ng-if="teacher.subjects.length > 1"> / {{sv.subject}}</span>
        	</div>
	        <div class="panel-heading blue" ng-show="import">
	            <span class="h4"></span>
	            <span class="label pull-right m-r-md amber">
		        	<a ng-hide="list" ng-click="list = !list">View Contacts</a>
		        	<a ng-show="list" ng-click="list = !list">Hide Contacts</a>
		        </span>
	        </div>
        	<div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple="" data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  <div class="md-ripple-container"></div></a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li ng-show="import"><a href="" ng-click="reset()">Add Contact</a></li>
                    <li ng-hide="import"><a href="" ng-click="importTeachers()">Import Contact</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-body">
	         	<div class="form-wrapper" ng-show="import"><br>
					<form role="form" ng-submit="csvImport(csv.result)" ng-hide="importing">
					    <center><ng-csv-import content="csv.content" header="true" result="csv.result"></ng-csv-import></center><br>
					    <center><button type="submit" class="btn btn-info"><i class="fa fa-download"></i> Import</button></center>
					</form>
					<div class="message center" ng-show="importing">
						<div class="progress progress-striped active" ng-hide="importMsg == 'Import completed successfully.'">
					        <div class="progress-bar progress-bar-info" style="width:{{importStatusP}}">{{importStatusP}}</div>
					    </div>
						<h4>{{importMsg}} ({{importStatus}}/{{importTotal}})</h4>
						<button ng-if="importMsg == 'Import completed successfully.'" type="button" class="btn btn-info" ng-click="importTeachers()"><i class="fa fa-download"></i> Import next sheet</button>
					</div>
	         	</div>
	         	<div class="message center" ng-if="msg != ''">
				  <h1>{{msg}}</h1>
				  <button ng-if="msg != 'Creating Teacher...'" type="button" class="btn btn-info" ng-click="reset()"><i class="fa fa-user"></i> Add another contact</button>
	         	</div>

	         	<span ng-if="msg == ''" ng-hide="import">
	            <div class="form-wrapper">
	               <form name="addForm">
	                  <div class="form-content">
			            <div ng-switch="step">
					      <div ng-switch-when="1">
							<div ng-show="newgroup" class="md-form-group col-sm-11">
								<label class="text-info">New Contact Group</label>
			                    <input type="text" ng-class="{'ng-dirty': teacher.name, 'error': (addForm.name.$error.required && addForm.name.$focused)}" class="md-input" name="name" ng-model="teacher.type" required focus-me="true" ng-enter="next(step)" ng-focus \>
							</div>
							<div ng-hide="newgroup" class="md-form-group col-sm-11">
								<label class="text-info">Select a Contact Group</label>
								<div><button ng-click="selectGroup(k)" ng-repeat="(k, grp) in groups" md-ink-ripple="" class="md-btn m-r-xs md-raised m-b btn-fw blue">{{k}}<div class="md-ripple-container"></div></button></div>
							</div>
					      </div>
					      <div ng-switch-when="2">
					      	<div class="md-form-group col-sm-11">
								<label class="text-info">Name and Phone</label>
			                    <div class="row">
								  <div class="col-md-6">
								  	<input placeholder="Name" class="md-input" ng-model="teacher.name" type="text" required focus-me="true" ng-focus \>
								  </div>
								  <div class="col-md-5"><input placeholder="Phone" class="md-input" ng-model="teacher.phone" type="text"></div>
								</div>
		                        <div role="alert">
							      <span class="error" ng-show="addForm.name.$error.required && addForm.name.$focused"><small>Required</small></span>
							    </div>
							</div>
					      </div>
					      <div ng-switch-when="3">
		                  	<div class="md-form-group col-sm-10">
		                        <label class="text-info">Subjects</label>
								<div class="row" ng-repeat="(k,v) in teacher.subjects">
								  <div class="col-md-1">
								  	<button ng-click="(k == 0) ? createSubject(): removeSubject(k)" class="btn custom-add-icon btn-default"><i class="fbtn ibtn fa" ng-class="{ 'fa-plus' : k == 0, 'fa-trash' : k !== 0}"></i></button>
								  	</div>
								  <div class="col-md-11">
								  	<input class="md-input" placeholder="Enter subject" ng-model="teacher.subjects[k].subject" type="text" required focus-me="true" ng-focus \>
								  </div>
								</div>
		                    </div>
					      </div>
					   </div>
	                  </div>
	                  <button ng-hide="!newgroup && (step == 1)" ng-click="next(step)" md-ink-ripple="" class="nextBtn md-btn md-fab m-b blue"><i class="mdi-navigation-arrow-forward i-24"></i><div class="md-ripple-container"></div></button>

	                  <button ng-hide="step == 1" ng-click="previous(step)" md-ink-ripple="" class="backBtn md-btn md-fab m-b blue"><i class="mdi-navigation-arrow-back i-24"></i><div class="md-ripple-container"></div></button>
	                  <!-- 
	                  <button ng-if="step != 1" id="backBtn" class="btn pull-right m-r-lg btn-icon data-submit btn-rounded btn-info" ng-click="previous(step)"><i class="fa  fa-arrow-left"></i></button> -->
	               </form>
	            </div>
	            </span>
	         </div>
          </div>
        </div>

<div ng-if="list" class="col-xs-12 list-data-table card">
	<div class="panel-heading blue">
		        <span class="label pull-right blue">
		        	<form class="head-input">
        			<input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
      				</form>
		        </span>
		        <span class="label pull-right blue">items by page: </span>
	            <span class="h4">All Contacts</span>
        	</div>
		<table st-table="displayedCollection" st-safe-src="contacts" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="type">Group</th>
			<th st-sort="name">Name</th>
			<th st-sort="phone">Phone Number</th>
			<th>Action</th>
		</tr>
		<tr>
			<th>
				<input st-search="'type'" placeholder="search for group" class="input-sm form-control" type="search"/>
			</th>
			<th>
				<input st-search="'name'" placeholder="search for name" class="input-sm form-control" type="search"/>
			</th>
			<th>
				<input st-search="'phone'" placeholder="search for phone" class="input-sm form-control" type="search"/>
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in displayedCollection | orderBy:['-created']">
			<td>{{row.type}}</td>
			<td>{{row.name}}</td>
			<td>{{row.phone}}</td>
			<td><button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle"></i>
			</button></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
  </div>