<div class="padding-out">
<!--   <div ng-show="templates.length" class="bg-white p-h-md md-whiteframe-z0">
      <ul class="nav nav-md nav-lines b-info">
        <li ui-sref-active="active">
          <a ui-sref="app.template.list({fold:''})">All</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.template.list({fold:'active'})">Active <b class="badge bg-warning">{{remainingCount}}</b></a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.template.list({fold:'completed'})">Completed <b class="badge bg-success">{{templates.length - remainingCount}}</b></a>
        </li>
      </ul>
  </div> -->
  <div class="padding">
    <div>
      <form id="template-form" ng-submit="addTodo()" class="panel panel-card p-sm">
        <input placeholder="Enter New Template Here..." ng-model="newTodo" autofocus class="form-control input-lg no-border no-bg">
      </form>
    </div>
    <div ng-show="templates.length">
      <div class="m-b-md">
        <div ng-repeat="template in templates | filter:app.search.content | filter:statusFilter | orderBy:'id':true  track by $index" ng-class="{completed: template.completed, editing: template == editedTodo}" class="card p m-b-xs">
          <div ng-hide="template.editedTodo">
            <div class="dropdown card-tools">
              <button md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                <i class="mdi-navigation-more-vert text-md"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
                <li><a href ng-click='editTodo(template)'>Edit</a></li>
                <li><a href ng-click="removeTodo(template)">Remove</a></li>
              </ul>
            </div>
            <span class="clear m-r-lg">{{template.title}}</span>
          </div>
          <form ng-submit="doneEditing(template)" ng-show="template.editedTodo">
            <input class="form-control" ng-trim="false" ng-model="template.title" ng-blur="doneEditing(template)" ui-focus="template.editedTodo">
          </form>
        </div>
      </div>
    </div>
<!--     <div ng-show="templates.length" class="row">
      <div class="col-xs-7">
        <label class="md-check m-l">
          <input type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)"><i class="blue"></i>
          Mark all as complete
        </label>
      </div>
      <div class="col-xs-5 text-right">
          <button class="btn btn-default btn-xs" ng-click="clearCompletedTodos()" ng-show="remainingCount < templates.length">Clear completed ({{templates.length - remainingCount}})</button>
      </div>
    </div> -->

    <div ng-hide="templates.length">
      <div class="p-lg text-center animated fadeInUp">
        <span class="text-3x">
          <i class="mdi-action-done-all text-2x text-white"></i>
        </span>
        <h3 class="font-thin">
          Create your first template!
        </h3>
      </div>
    </div>
  </div>
</div>
